body {
    background-color: black;
    background-image: url(https://static.vecteezy.com/system/resources/previews/009/877/659/non_2x/pixel-art-city-background-blue-with-buildings-constructions-bridge-and-cloudy-sky-for-8bit-game-vector.jpg);
    background-repeat: no-repeat;
    background-size: 1920px 1080px; 
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    width: 100%;
}

h1 {
    color: white;
    font-size: 148px;
    text-align: center;
}

button {
    background-color: rgb(196, 126, 35);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
}